<% provide(title:"TASKS") %>
<section id="todo" class="todo bg-dark">
  <div class="container">
    <%= render partial: 'shared/post_up', locals: { task: @task } %>
    <div class="lists">
     <%= render partial: 'task', collection: @tasks %>
    </div>
    <div>
      <%= paginate @tasks %>
    </div>
  </div>
</section> 