<div class="user text-light w-75 d-flex justify-content-center mx-auto py-3">
  <div class="d-flex flex-column justify-content-center">
    <%= link_to user.name, user, class:"user text-light my-2 text-center" %>
  </div>
</div>