<% provide(title:"USRS") %>
<section id="users" class="todo bg-dark">
  <div class="container">
    <div class="users">
     <%= render @users %>
     <%= paginate @users %>
    </div>
  </div>
</section> 