<div class="todo bg-dark">
  <div class="inner">
    <div class="container">
      <section class="about d-flex flex-column justify-content-center text-light text-center">
        <h2 class="p-5 m-5">WAHT IS A 「 TO DO LIST 」</h2>
        <div class="intro">
          <dl>
            <dt class="font-weight-bold">what is this app?</dt>
            <dd class="mb-4">This app is able to make your own list and share it to your mait</dd>
            <dt class="font-weight-bold">what is this app?</dt>
            <dd class="mb-4">This app is able to make your own list and share it to your mait</dd>
          </dl>
        </div>
      </section>
    </div>
  </div>
</div>